<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZ01n10VcvXKXz_vQR6aEbSlxPp_Asuec</string>
	<key>GCM_SENDER_ID</key>
	<string>336276785355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yplantae.core.mod.laurus.aYpCoreModLaurusClient</string>
	<key>PROJECT_ID</key>
	<string>yp-core-dev-us</string>
	<key>STORAGE_BUCKET</key>
	<string>yp-core-dev-us.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336276785355:ios:1613a0cacf902ed01a334e</string>
</dict>
</plist>